/* html */

body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

/* Nav */

.container-fluid {
    background-color: white;
    padding: 0;
}

.site-icon {
    width: 2rem;
    margin-bottom: 10px;
}

.nav-icon-length {
    width: 30%;
    text-align: left;
}

.menu-text {
    color: black;
}

.title-icon {
    font-size: 2rem;
    display: inline-block;
    margin: auto;
}

.navigation-bar {
    background-color: white;
    width: 100%;
    height: 80px;
}

/* Intro */

.pfp {
    width: 30%;
    padding-top: 10%;
}

.intro {
    background-color: white;
    text-align: center;
    color: black;
}

.intro-paragraph {
    background-color: white;
    text-align: center;
    margin: auto;
    padding: 6% 10%;
}

@media (max-width: 992px) {
    .intro-paragraph {
        background-color: white;
        object-fit: cover;
        text-align: center;
        margin: auto;
        padding: 10% 10%;
    }
}

.greetings {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.greetings-para {
    font-size: 1.25rem;
}

/* Responsive Menu */

.feature-box {
    background-color: white;
    padding: 7% 4%;
    color: white;
}

.feature-box:hover {
    text-decoration: none;
    color: white;
}

.feature-icon {
    padding-bottom: 10%;
}

.move-it {
    background-color: #19647e;
}

    .move-it:hover {
        background-color: #6aadc4;
    }

.moment-in-time {
    background-color: #f93943;
}

    .moment-in-time:hover {
        background-color: #f97077;
    }

.graphic-galore {
    background-color: #143642;
}

    .graphic-galore:hover {
        background-color: #20576b;
    }

.typical-typist {
    background-color: #445e93;
}

    .typical-typist:hover {
        background-color: #526893;
    }

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Testimonials */

.review-carousel {
    background-color: #f1dac4;  
    color: #403f4c;
}

.carousel-inner {
    padding: 10%;
}

.carousel-heading {
    font-size: 2rem;
}

.carousel-para {
    font-size: 1.3rem;
}

/* Contacts */

#contacts {
    padding: 3%;
}

.contact-icons {
    color: black;
}

.copyright {
    line-height: 0.5rem;
}

.hyperlink {
    display: inline-block;
    padding: 1% 3% 3%;
}

.fontawesome {
    text-decoration: none !important;
}